@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.75;
    color: #000;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品
------------------------------------------ */
.container {
    padding: 0 4.1%;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 768px) {
    .container-narrow {
        max-width: 980px;
    }
}

@media (min-width: 768px) {
    .container-wide {
        max-width: 1500px;
        margin: auto;
    }
}

/* ヘッダー
------------------------------------------ */

.header {
    height: 0;
}

.header__title {
    padding: 0 4.1%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .header__title {
        margin: 0;
    }
}

.header__title a {
    width: 36.66%;
}

.header__title img {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    z-index: 1;
}

@media (min-width: 768px) {
    .header__title img {
        top: 30px;
    }
}

.mv {
    position: relative;
}

.mv_pc {
    width: 100%;
    height: auto;
}

.mv__text {
    position: absolute;
    width: 63.333%;
    bottom: 8%;
    top: auto;
    left: 14.866%;
    transform: translate(-14%, 151px);
}

@media (min-width: 768px) {
    .mv__text {
        min-width: 0;
        bottom: 57.2%;
        left: 23.7%;
    }
}

.mv_pc-logo {
    width: 100%;
}

@media (min-width: 768px) {
    .mv_pc-logo {
        width: 32%;
        height: auto;
    }
}

.mv__text__title {
    width: 100%;
}

.mv__text__catch {
    font-size: 20px;
    line-height: 2.3;
    letter-spacing: 6px;
    width: auto;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .mv__text__catch {
        font-size: 25px;
        letter-spacing: 7.4px;
    }
}

.sales__box {
    display: flex;
    flex-direction: column;
    margin: 150px 28px 85px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 0 4.1%;
    background-color: #F0F4FF;
}

@media (min-width: 768px) {
    .sales__box {
        flex-direction: row;
        justify-content: left;
        min-width: 775px;
        max-width: 1000px;
        margin: 3.3% auto 3%;
        height: 146px;
        padding: 0 3.1%;
    }
}

.sales__box__top {
    padding: 25px 0 15px;
}

@media (min-width: 768px) {
    .sales__box__top {
        padding: 0;
        padding-top: 35px;
        line-height: 1.75;
        text-align: left;
        white-space: nowrap;
    }
}

.sales__box__title {
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .sales__box__title {
        font-size: 24px;
        letter-spacing: 2.5px;
    }
}

.sales__box__price {
    font-size: 14px;
    letter-spacing: 1.1px;
}

@media (min-width: 768px) {
    .sales__box__price {
        font-size: 16px;
        letter-spacing: 1.5px;
    }
}

.sales__box__btn {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    row-gap: 20px;
}

@media (min-width: 768px) {
    .sales__box__btn {
        margin-left: 7%;
    }
}

.sales__box__btn__list {
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .sales__box__btn__list {
        display: flex;
        gap: 32px;
        flex-direction: row;
        margin-top: 16px;
    }
}

.shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #46C4DB;
    border-radius: 34px;
    height: 58px;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    padding: 4% 19%;
}

@media (min-width: 768px) {
    .shop-btn {
        width: 300px;
        font-size: 18px;
        padding: 4% 17%;
    }
}

.buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #5DD5AB;
    border-radius: 34px;
    height: 58px;
    width: 100%;
    white-space: nowrap;
    padding: 4% 36%;
}

@media (min-width: 768px) {
    .buy-btn {
        width: 300px;
        font-size: 18px;
        padding: 4% 36%;
    }
}

.keep__description {
    position: relative;
    margin-bottom: 44px;
}

@media (min-width: 768px) {
    .keep__description {
        margin-bottom: 70px;
    }
}

.keep__description__text-box {
    padding: 0% 4.1%;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    left: 0;
    color: #fff;
}

@media (min-width: 768px) {
    .keep__description__text-box {
        padding: 0;
        right: -41%;
        width: 458px;
        top: 21.8%
    }
}

.keep__description_title {
    font-family: EB Garamond, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 768px) {
    .keep__description_title {
        font-size: 38px;
        text-align: left;
    }
}

.keep__description__catch {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 14px;
}

@media (min-width: 768px) {
    .keep__description__catch {
        text-align: left;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

.keep__description__text {
    font-size: 14px;
    line-height: 2.2;
}

@media (min-width: 768px) {
    .keep__description__text {
        width: 93%;
        line-height: 2.3;
    }
}

.voices {
    text-align: center;
    padding: 0 4.1%;
    position: relative;
    max-width: 1156px;
}

@media (min-width: 768px) {
    .voices {
        margin: 0 auto 80px;
    }
}

.voices__box {
    margin: 0 auto;
    width: 71.794%;
}

@media (min-width: 768px) {
    .voices__box {
        max-width: 1000px;
        padding: 0 10px;
        margin: 0 auto;
        width: 94.86%;
    }
}

.voices__box__item {
    width: 280px;
}

@media (min-width: 768px) {
    .voices__box__item {
        width: 300px;
        margin: 0 40px;
    }
}

.voices_title {
    font-family: EB Garamond, serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

@media (min-width: 768px) {
    .voices_title {
        font-size: 45px;
        margin-bottom: 2px;
    }
}

.voices_title-ja {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 36px;
    letter-spacing: 1.1px;
    line-height: 1.1;
}

@media (min-width: 768px) {
    .voices_title-ja {
        font-size: 20px;
        margin-bottom: 45px;
    }
}

.bi-arrow-left-short {
    font-size: 30px;
    background-color: #00AFBF;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 55%;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .bi-arrow-left-short {
        left: 0;
        top: 55%;
        font-size: 45px;
        width: 48px;
        height: 48px;
    }
}

.bi-arrow-right-short {
    font-size: 30px;
    background-color: #00AFBF;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 55%;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {
    .bi-arrow-right-short {
        right: 0;
        top: 55%;
        font-size: 45px;
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 768px) {
    .voices-slick {
        width: 980px;
        margin: 0 auto;
    }
}

.voices__box__item {
    width: 71.794%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    height: 344px;
    margin: 0 7px;
    background-color: #DBF7F9;
}

@media (min-width: 768px) {
    .voices__box__item {
        height: 388px;
    }
}

.voices__img {
    text-align: center;
    display: inline-flex;
    margin-top: 28px;
}

@media (min-width: 768px) {
    .voices__img {
        margin-top: 40px;
    }
}

.pc-person {
    border-radius: 40px;
}

@media (min-width: 768px) {
    .pc-person {
        border-radius: 50px;
    }
}

.voices__name {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .voices__name {
        font-size: 15px;
    }
}

.voices__box__item__text {
    text-align: left;
    line-height: 2;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .voices__box__item__text {
        font-size: 16px;
    }
}

/* Slickドット */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: static;
    margin: 15px 0;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    float: none;
    margin: 0 5px;
}

.slick-dots li button:before {
    font-size: 10px;
}

/* @media (min-width: 768px) {
    .slick-slide {
        margin: 0 20px;
    }
} */


.qa {
    background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%) 0% 0% no-repeat padding-box;
    padding-bottom: 7px;
    margin-bottom: 43px;
}

@media (min-width: 768px) {
    .qa {
        margin-bottom: 50px;
        padding-bottom: 17px;
    }
}

.qa_title-en {
    font-family: EB Garamond, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 42px 0 -6px;
    padding-top: 27px;
}

@media (min-width: 768px) {
    .qa_title-en {
        font-size: 45px;
        padding-top: 26px;
    }
}

.qa_title-ja {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
}

@media (min-width: 768px) {
    .qa_title-ja {
        font-size: 20px;
    }
}

.qa__container__box {
    margin: 0 4.1%;
}

@media (min-width: 768px) {
    .qa__container__box {
        max-width: 600px;
        margin: 0 auto;
    }
}

.qa__container__box__item {
    margin-bottom: 23px;
}

@media (min-width: 768px) {
    .qa__container__box__item {
        margin-bottom: 26px;
    }
}

.qa__container__box__item__question {
    display: flex;
    justify-content: space-between;
    padding: 16px 4.1% 18px;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}

@media (min-width: 768px) {
    .qa__container__box__item__question {
        padding: 24px 4% 14px;
        justify-content: left;
    }
}

.mark-q {
    font-family: EB Garamond, serif;
    font-size: 16px;
    margin: 0 14px 0 1px;
}

@media (min-width: 768px) {
    .mark-q {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .triangle {
        margin-left: 10.4%;
    }
}


.accrdion-q {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.qa__container__box__item.open .bi-caret-down-fill::before {
    transform: rotate(180deg);
}

.qa__container__box__item__answer {
    display: flex;
    padding: 0 1% 28px;
    overflow: hidden;
    background-color: #fff;
}

@media (min-width: 768px) {
    .qa__container__box__item__answer {
        padding: 0 1.8% 18px;
    }
}

.accrdion-a {
    text-align: left;
    width: 85.15%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.85;
}

@media (min-width: 768px) {
    .accrdion-a {
        width: 88.15%;
    }
}

.mark-a {
    font-family: EB Garamond, serif;
    font-size: 16px;
    margin: 0 13px;
}

@media (min-width: 768px) {
    .mark-a {
        font-size: 18px;
        margin: 0 17px 0 13px;
    }
}

.sales__box-02 {
    margin: 0 28px 46px;
}

@media (min-width: 768px) {
    .sales__box-02 {
        margin: 0 16.66%;
    }
}

.button-to-top__box {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .button-to-top__box {
        max-width: 1500px;
        margin-top: 5px;
    }
}

.button-to-top__container {
    width: 40px;
    height: 40px;
    background-color: #0071CE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

@media (min-width: 768px) {
    .button-to-top__container {
        margin-right: 10%;
    }
}

.button-to-top {
    color: #fff;
    font-size: 33px;
}

.footer {
    text-align: center;
    background-color: #0071CE;
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer__container {
        max-width: 1200px;
        flex-direction: row;
        align-items: center;
        height: 104px;
        white-space: nowrap;
        justify-content: space-between;
        column-gap: 11.7%;
        margin: 0 12%;
    }
}

.footer__container__title {
    font-family: "Marcellus";
    font-size: 28px;
    margin: 16px auto;
    letter-spacing: 5.5px;
}

@media (min-width: 768px) {
    .footer__container__title {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 32px;
        letter-spacing: 6.7px;
    }
}

.footer__container__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 23px;
}

@media (min-width: 768px) {
    .footer__container__list {
        margin-bottom: 0;
        column-gap: 11.2%;
        padding-left: 4%;
    }
}

.footer__container__list li {
    font-size: 12px;
}

@media (min-width: 768px) {
    .footer__container__list li {
        font-size: 14px;
        white-space: nowrap;
    }
}

.footer__container__copyright {
    font-size: 11px;
    margin-bottom: 23px;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .footer__container__copyright {
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 0.7px;
    }
}